# =================================================================================================
# Build outputs
# =================================================================================================

/build*/
*.a

# =================================================================================================
# Tooling
# =================================================================================================

compile_commands.json

# =================================================================================================
# Editor files
# =================================================================================================

.idea/
.vscode/
*.swp
*.swo
*~
